.jumbotron{

    background-color: #f0db4f;
}

h1{

    font-family: arial;

}

.content {

    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: 
    max-width: 70%;
    margin: auto;
    padding: 10px;
    font-family: arial;
}

.picture{

    height: 200px;
    width: auto;
}
#answer{

    margin-top: 14px;
    margin-bottom: 14px;
}